@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f4f4f4;
}

/* CSS custom properties (variables). Defined once, used everywhere. */
:root {
  --c-blue: #2ec46a;
  --ff-acme: 'Acme', sans-serif;
}
