/* has to be component.module.css */

.card {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
  max-width: 80%;
  margin: 1rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 0;
    unicode-bidi: isolate;
}

.img {
  width: 30%;
  object-fit: cover;
  border-radius: 20px;
}

.card_text {
  display: flex;
  flex-direction: column;
  flex: 1
}

.card_lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.recipe_info {
  margin-left: 1.5rem;
}

.recipe_title,
.list_title {
  font-family: var(--ff-acme);
  font-weight: 400;
}

.recipe_title {
  margin: 1rem;
  font-size: 2.5rem;
  border-bottom: 0.25rem solid var(--c-blue);
}

.list_title {
  margin: 0.5rem 0;
  font-size: 1.625rem;
  color: var(--c-blue);
}

.ingredients_list {
  width: 40%;
}

.ingredients_list ul {
  list-style-type: none;
  padding-left: 0;
}

.list_item {
  display: flex;
  margin-bottom: 0.75rem;
}

.list_item span {
  display: block;
}

.list_item .measure {
  width: 25%;
  margin-right: 2rem;
}

.unit_btn {
  cursor: pointer;
  border: 2px solid var(--c-blue);
  border-radius: 999px;
  background: none;
  color: var(--c-blue);
  font-family: inherit;
  padding: 0.25rem 0.75rem;
}

.instructions_list {
  width: 60%;
}

.instructions_list ol {
  padding-left: 0rem;
}

.rating {
  display: flex;
  align-items: center;
  margin-left: 1rem 0 0 1.5rem;
}

.rating_btn_slot{
  display: inline-block;
  width: 2.5rem;
  text-align: center;

}

.rating_btn {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1rem;
  font-family: inherit;
}

.hearts{
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
  color: var(--c-blue);
  min-height: 1.25rem;
  min-width: 7rem;
}